{% macro category_list(current_cat) %}
{% set categories = ['Sports', 'Theater', 'Academics', 'Other'] %}

<nav class="sitenav">
    {% for cat in categories %}
    <a href="/c/{{slugify(cat)}}" {% if cat==current_cat %} class="active" {% else %}{% endif %}>{{ cat }}</a>
    {% endfor %}
</nav>
{% endmacro %}

{% macro main_header(current_cat) -%}
<a class="logotype" href="/">
    <img src="/masthead.png" alt="The Bulldog Bulletin" height="32">
</a>
{{ category_list(current_cat) }}
{%- endmacro -%}

{%- macro article_preview_stats(article, show_issue, current_cat) %}
<p class="stats">
    <a>{{ article.author }}</a>
    •
    <time datetime="{{ article.published_at }}">{{ fmt_date(article.published_at) }}</time>
    {% if show_issue and article['issue'] is not none %}
    •
    <a href="/issues/{{article['issue']['id']}}">Issue #{{article['issue']['id']}}</a>
    {% endif %}
    {% for cat in article.categories %}
    •
    <a href="/c/{{slugify(cat)}}" {% if cat==current_cat %} class="active" {% else %}{% endif %}>{{ cat }}</a>
    {% endfor %}
</p>
{%- endmacro -%}

{%- macro content(articles, show_issue, current_cat) -%}
{% for article in articles %}
{% if article.status == 'published' %}
{% if article.type == 'article' %}
<div class="article-preview">
    <a class="article-title" href="/articles/{{ article.id }}">{{ article.title }}</a>
    {{ article_preview_stats(article, show_issue, current_cat) }}
    <p>{{ article.summary | safe }}</p>
</div>
{% else %}
<div class="post-preview">
    {{ article_preview_stats(article, show_issue, current_cat) }}
    <div class="post-content" id="post-content-{{ article.id }}">
        {% set truncated = article.content | truncate %}
        <div id="post-content-visible-{{ article.id }}" aria-hidden="true">
            {{ truncated | safe }}
        </div>
        {% if truncated != article.content %}
        <div id="post-content-hidden-{{ article.id }}" class="visually-hidden" aria-hidden="false">
            {{ article.content | safe }}
        </div>
        <button class="swap-content"
                data-article="{{ article.id }}"
                data-hidden="#post-content-hidden-{{ article.id }}"
                data-visible="#post-content-visible-{{ article.id }}"
                aria-hidden="true">
            Read More
        </button>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
{%- endmacro -%}
